@import url('https://fonts.googleapis.com/css?family=Quicksand:700,900|Roboto:300,400,900|Jomolhari&display=swap');

.font-roboto {
  font-family: 'Roboto', sans-serif;
}

.font-quicksand {
  font-family: 'Quicksand', sans-serif;
}

.font-jomolhari {
  font-family: 'Yomolhari', serif;
}
