$bg-color: #f2f4f6;
$white: #fff;
$dark: rgb(41, 41, 41);
$dark-blue: #060036;
$red: #b3120c;
$blue: #0003c7;
$yellow: #cbda05;
$green: #32c039;
$white: rgb(255, 255, 255);
$grey: #bebdbf;
$black: #212121;
$purple: #7a075e;

$shadow-color: rgba($dark, 0.3);

$product-card-border: 3px;
$border-radius: 5px;

$bp-xs: 300px;
$bp-s: 540px;
$bp-m: 720px;
$bp-l: 994px;
$bp-4-grid: 994px;
$bp-xl: 1199px;
$bp-xxl: 1200px;
