$bg-color: #f2f4f6;
$white: #fff;
$dark: rgb(41, 41, 41);
$dark-blue: #060036;
$red: #fd2721;
$blue: #0003c7;
$red: #d50000;
$yellow: #cbda05;
$green: #32c039;
$white: rgb(255, 255, 255);
$grey: #bebdbf;
$black: #212121;
$purple: #7a075e;

$shadow-color: rgba($dark, 0.3);

$bp-xs: 300px;
$bp-s: 576px;
$bp-m: 768px;
$bp-l: 992px;
$bp-xl: 1200px;
