// VARs
@import 'variables';

// FONTS and TYPO
@import 'fonts';
@import 'typography';

// MIXINS
@import 'mixins/fade';
@import 'mixins/hover';
@import 'mixins/rwd';
@import 'mixins/shadow';

// GRID
@import 'layout/flex_grid';

// COMPONENTS
@import 'components/center';
@import 'components/navbar';
@import 'components/footer';
@import 'components/hamburger';
@import 'components/product_image';
@import 'components/product_card';
@import 'components/product_filters';
@import 'components/title';
@import 'components/subtitle';
@import 'components/sub_text';
@import 'components/text';
@import 'components/checkbox';
@import 'components/pagination';
@import 'components/button';
@import 'components/image';
@import 'components/cart_item';
@import 'components/form';
@import 'components/input';
@import 'components/crossed_price';

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  // font-family: 'Quicksand', sans-serif;
  background: $bg-color;
  min-height: 100vh;
  overflow-x: hidden;
  padding-bottom: 113px;
  position: relative;

  @include phones {
    padding-bottom: 218px;
  }
}

ul {
  margin: 0;
}
