// VARs
@import 'variables';

// FONTS and TYPO
@import 'fonts';
@import 'typography';

// MIXINS
@import 'mixins/fade';
@import 'mixins/hover';
@import 'mixins/rwd';
@import 'mixins/shadow';

// GRID
@import 'layout/flex_grid';
@import 'layout/page_wrapper';

// COMPONENTS
@import 'components/center';
@import 'components/navbar';
@import 'components/footer';
@import 'components/hamburger';
@import 'components/product_image';
@import 'components/product_card';
@import 'components/product_filters';
@import 'components/title';
@import 'components/subtitle';
@import 'components/sub_text';
@import 'components/text';
@import 'components/checkbox';
@import 'components/pagination';
@import 'components/button';
@import 'components/image';
@import 'components/cart_item';
@import 'components/form';
@import 'components/input';
@import 'components/crossed_price';
@import 'components/login_box';
@import 'components/sized_box';
@import 'components/carousel';
@import 'components/news_bar';
@import 'components/profile_thumb';
@import 'components/user_bar';
@import 'components/address_thumb';
@import 'components/delivery_tab';
@import 'components/profile_pic';
@import 'components/order_thumb';
@import 'components/notification';
@import 'components/cart_pill';
@import 'components/product_search_bar';

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: $bg-color;
  min-height: 100vh;
  overflow-x: hidden;
  padding-bottom: 113px;
  position: relative;

  @include phones {
    padding-bottom: 218px;
  }
}

ul {
  margin: 0;
}

hr {
  border-color: $dark-blue;
  width: 20%;
  margin: 20px auto 30px;
  border-radius: 10px;
  background: transparent;
}

[class*='row'] {
  padding: 0 !important;
  margin: 0 !important;
}
