h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.text_uppercase {
  text-transform: uppercase;
}

.text_nonuppercase {
  text-transform: none;
}

.text_left {
  text-align: left;
}

.text_center {
  text-align: center;
}

.text_right {
  text-align: right;
}

.text_paragraph {
  text-align: left;
  padding-left: 55px !important;

  @include tablets {
    padding-left: 30px !important;
  }
}

.text_primary {
  color: $dark-blue !important;
}

.text_white {
  color: $white !important;
}

.text_success {
  color: $green !important;
}

.text_danger {
  color: $red !important;
}

.text_warning {
  color: $yellow !important;
}

a {
  color: inherit;
  text-decoration: none;
}
