.flex_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0;
  justify-content: flex-start;
  overflow-x: scroll;

  .flex_item {
    flex: 1 0 33.3%;
    width: auto;
    max-width: 33.3%;
    margin: 5px 0;
    padding: 10px;
    min-height: 10px;
  }

  &.flex_fixed_width {
    .flex_item {
      flex: 1 0 300px;
      max-width: 300px;
    }
  }

  @include tablets {
    &.flex_fixed_width {
      .flex_item {
        max-width: 50%;
      }
    }

    .flex_item {
      flex: 1 0 50%;
      max-width: 50%;
    }
  }

  @include large-phones {
    &.flex_fixed_width {
      .flex_item {
        max-width: 100%;
      }
    }

    .flex_item {
      flex: 1 0 100%;
      max-width: 100%;
    }
  }

  &.flex_horizontal_scroll {
    flex-wrap: nowrap;

    @include tablets {
      .flex_item {
        flex: 1 0 230px;
        max-width: 230px;
      }
    }
  }

  &.flex_horizontal_scroll_phones {
    @include large-phones {
      flex-wrap: nowrap;

      .flex_item {
        flex: 1 0 230px;
        max-width: 230px;
      }
    }

    @include phones {
      .flex_item {
        flex: 1 0 80%;
        max-width: 230px;
      }
    }
  }
}
