html
  head
    style
      include style.css
  body
    div.header
        h1
            span e
            | commerce
    block content
    br
    p.footer 
        span E
        | commerce, 2019
        br
        a(href='http://localhost:3000') Visit our shop
        br
        small Phone: 997-089-223
        br
        small Address: 673th Blue Heaven Avenue, City