.cart_item_container {
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid $bg-color;
  margin: 40px auto;
  background: darken($white, 4);
  @include shadow(70px);

  &:nth-child(even) {
    background: darken($white, 5);
  }
}
