.custom_carousel_container {
  margin-bottom: 40px;
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  padding-bottom: 10px;

  @include large-phones {
    margin-bottom: 80px;

    .title {
      font-size: 25px;
    }
  }

  .custom_carousel {
    &_box {
      height: 100%;
      width: auto;
      min-width: 100%;
      display: flex;
    }

    &_item {
      flex: 1 0 100%;
      max-width: 100%;
      position: relative;
      padding: 0 20px;

      @include tablets {
        padding: 0 30px;
      }

      &_price {
        @extend .title;
        color: $dark-blue;
        font-size: 58px;
        font-weight: 900;
        margin: 10px;
        padding: 5px;
        letter-spacing: -3px;
        font-family: 'Robot', sans-serif;

        span {
          font-size: 35px;
          font-weight: 300;
          color: rgba($dark-blue, 0.3);
          margin-left: -5px;
          padding: 0;
        }
      }

      &_bg {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.8;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
      }
    }
  }

  .carousel_desktop_image {
    @include tablets {
      display: none;
    }
  }

  .carousel_mobile_image {
    display: none;

    @include tablets {
      display: block;
    }
  }

  .carousel_btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    display: block;
    z-index: 2;
    padding: 50px 10px;

    &:hover {
      cursor: pointer;
    }

    span {
      position: absolute;
      top: 50%;
      left: 0;
      transform-origin: center left;
      width: 100%;
      height: 2px;
      background: $dark-blue;

      &:nth-of-type(1) {
        transform: translateY(-50%) rotate(-50deg);
      }

      &:nth-of-type(2) {
        transform: translateY(-50%) rotate(50deg);
      }
    }

    &_prev {
      @extend .carousel_btn;
      left: 40px;

      span {
        &:nth-of-type(1) {
          transform: translateY(-50%) rotate(-50deg);
        }

        &:nth-of-type(2) {
          transform: translateY(-50%) rotate(50deg);
        }
      }

      @include phones {
        left: 20px;
      }
    }

    &_next {
      @extend .carousel_btn;
      right: 40px;

      span {
        transform-origin: center right;

        &:nth-of-type(1) {
          transform: translateY(-50%) rotate(-50deg);
        }

        &:nth-of-type(2) {
          transform: translateY(-50%) rotate(50deg);
        }
      }

      @include phones {
        right: 20px;
      }
    }
  }
}
