.cart_item_container {
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid $bg-color;
  margin: 40px auto;
  background: transparent;

  &_small {
    @extend .cart_item_container;
    margin: 0 auto;
    padding: 5px 10px;
  }
}
