.delivery_tab_container {
  border-radius: 5px;
  margin: 5px auto;
  border: 1px solid rgba($dark-blue, 0.1);
  padding: 5px 10px;
  background: $bg-color;
  @include shadow(10px);

  &:hover {
    cursor: pointer;
  }

  &_active {
    @extend .address_thumb_container;
    background: $white;
    border-color: $green;
  }
}
