.hamburger_btn_container {
  width: 100%;
  height: 100%;
  padding-top: 4px;

  div {
    display: block;
    width: 30px;
    height: 3px;
    float: right;
    background: $dark;
    border-radius: 5px;
    margin: 2px 0;

    &:nth-of-type(2) {
      width: 22px;
    }

    &:nth-of-type(3) {
      width: 28px;
    }
  }
}
