$ribbon_position: 20px;

.image_container {
  position: relative;
  background: transparent;
  width: 100%;
  max-width: 500px;
  display: block;
  margin: 10px auto 20px;
  border-radius: $product-card-border;
  border: 1px solid $white;
  overflow: hidden;
  @include fade;
  @include shadow(10px);

  &_normal {
    @extend .image_container;
  }

  &_small {
    @extend .image_container;
    max-width: 150px;
  }

  &_medium {
    @extend .image_container;
    max-width: 300px;
  }

  @include hover-supported {
    &:hover {
      transform: scale(1.02);
      cursor: pointer;
    }
  }

  .image_ribbon {
    position: absolute;
    top: $ribbon_position;
    left: $ribbon_position * 1.5;
    font-weight: 300;
    font-size: 15px;
    color: $dark-blue;
    text-shadow: 1px 1px 0 $white;
    text-transform: uppercase;
    font-family: 'Nunito', sans-serif;
  }

  .sale_ribbon {
    position: absolute;
    text-align: center;
    padding: 5px 10px;
    color: $white;
    font-size: 15px;
    top: 20px;
    right: -45px;
    width: 200px;
    height: auto;
    background: $red;
    font-family: 'Nunito', sans-serif;
    transform: rotate(35deg);
    @include shadow-strong(10px);
  }

  img.image {
    display: block;
    width: 100%;
    object-fit: contain;
  }
}
