$desktop_width: 400px;
$close_btn_size: 25px;

.login_box_overlay {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 19;
  background: rgba(black, 0.4);
  display: none;
  opacity: 0;
}

.login_box {
  position: fixed;
  top: 0;
  right: -$desktop_width;
  width: $desktop_width;
  height: 100vh;
  background: $white;
  z-index: 20;
  display: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  overflow: hidden;
  border: 1px solid $bg-color;
  padding: 20px;
  @include shadow-strong(10px);

  @include tablets {
    width: 100vw;
    right: -100vw;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .login_box_close {
    width: $close_btn_size;
    height: $close_btn_size;
    position: relative;
    margin: 0 0 20px;
    @include fade;

    @include hover-supported {
      &:hover {
        cursor: pointer;
        transform: rotate(90deg);
      }
    }

    span.cross_line {
      position: absolute;
      width: 100%;
      height: 4px;
      border-radius: 15px;
      background: $dark-blue;

      &:nth-child(1) {
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
        left: 0;
      }

      &:nth-child(2) {
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
        left: 0;
      }
    }
  }

  .fb_btn {
    font-size: 14px;
    font-family: inherit;
    border: none;
    border-radius: 3px;
    border: 1px solid rgba($grey, 0.2);
    padding: 10px;
    // background: #4267b2;
    background: $white;
    // color: $white;
    color: $dark-blue;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 0px rgba($grey, 0.7);

    @include hover-supported {
      &:hover {
        cursor: pointer;
      }
    }

    &:before {
      content: '';
      margin-right: 10px;
      display: inline-block;
      width: 28px;
      height: 28px;
      background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4Igp3aWR0aD0iNDgiIGhlaWdodD0iNDgiCnZpZXdCb3g9IjAgMCA0OCA0OCIKc3R5bGU9IiBmaWxsOiMwMDAwMDA7Ij48cGF0aCBmaWxsPSIjM2Y1MWI1IiBkPSJNMjQgNEEyMCAyMCAwIDEgMCAyNCA0NEEyMCAyMCAwIDEgMCAyNCA0WiI+PC9wYXRoPjxwYXRoIGZpbGw9IiNmZmYiIGQ9Ik0yOS4zNjgsMjRIMjZ2MTJoLTVWMjRoLTN2LTRoM3YtMi40MWMwLjAwMi0zLjUwOCwxLjQ1OS01LjU5LDUuNTkyLTUuNTlIMzB2NGgtMi4yODcgQzI2LjEwNCwxNiwyNiwxNi42LDI2LDE3LjcyM1YyMGg0TDI5LjM2OCwyNHoiPjwvcGF0aD48L3N2Zz4=')
        50% 50% no-repeat;
      background-size: 100%;
    }
  }
}
