.navbar {
  padding: 30px 0;
  border-bottom: 1px solid darken($white, 10);
  @include shadow(20px);
  z-index: 12;
  background: $white;
  position: fixed;
  top: 25px;
  width: 100%;

  @include large-phones {
    top: 20px;
  }

  @include hover-supported {
    a {
      &:hover {
        cursor: pointer;
      }
    }
  }

  &_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    .navbar_btn {
      position: absolute;
      display: none;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      width: 30px;
      height: 30px;
      background: transparent;

      @include phones {
        display: inline-flex;
        justify-content: flex-end;
        justify-self: flex-end;
        align-self: flex-end;
      }
    }
  }

  &_brand {
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-size: 20px;
    color: $dark-blue;
  }

  &_menu {
    ul {
      list-style-type: none;
      display: flex;
      margin: 0;
      padding: 0;

      li {
        margin: 0 5px;
        display: flex;
        align-items: center;

        a {
          text-decoration: none;
          text-transform: uppercase;
          color: $dark-blue;
          font-size: 14px;
          font-weight: 400;
          display: flex;
          align-items: center;

          &.navbar_link_active {
            font-weight: 900;
          }
        }
      }
    }

    &_desktop {
      @include phones {
        display: none;
      }
    }
  }

  .navbar_menu_mobile {
    display: none;

    @include phones {
      display: none;
      z-index: 9 !important;

      &.navbar_menu_mobile_active {
        display: block;
      }

      ul {
        display: flex;
        flex-direction: column;
        position: fixed;
        align-items: center;
        top: 86px;
        right: 0;
        width: 100%;
        height: 100%;
        background: white;
        z-index: 10 !important;
        list-style-type: none;
        margin: 0;
        padding: 20px 0 0;

        li {
          margin: 5px 0;

          a {
            text-decoration: none;
            text-transform: uppercase;
            color: $dark-blue;
            font-size: 18px;
            font-weight: 400;
            display: flex;
            align-items: center;

            &.navbar_link_active {
              font-weight: 900;
            }
          }
        }
      }
    }
  }
}
