@keyframes slide {
  from {
    left: 100%;
  }

  to {
    left: 0;
  }
}

@keyframes slide-text {
  from {
    left: 0;
  }

  to {
    left: -100%;
  }
}

$animation_time: 30s;

.news_bar_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 25px;
  overflow: hidden;
  background: black;
  z-index: 20;

  @include large-phones {
    height: 20px;
  }

  .news_bar_text_container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 100%;

    animation: slide $animation_time linear;
    animation-iteration-count: infinite;

    p {
      display: block;
      color: $white;
      font-size: 12px;
      margin: 0;
      padding: 0;
      white-space: nowrap;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;

      @include large-phones {
        font-size: 10px;
      }

      animation: slide-text $animation_time linear;
      animation-iteration-count: infinite;
    }
  }
}
