.profile_pic_container {
  width: 80px;
  height: 80px;
  // border-radius: $product-card-border;
  border-radius: 50%;
  border: 3px solid $green;
  overflow: hidden;
  margin: 30px auto 0;
  @include shadow(10px);

  img {
    display: block;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
