.subtitle {
  font-size: 24px;
  font-weight: 400;
  margin: 10px 0;
  padding: 0 10px;
  font-family: 'Roboto', sans-serif;
  color: $dark-blue;

  &.subtitle_small {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
  }
}
