.sub_text {
  margin: 10px 0;
  padding: 0 10px;
  color: $grey;
  font-size: 22px;
  font-weight: 300;
  text-shadow: 0 0 1px rgba($dark, 0.1);

  &_normal {
    @extend .sub_text;
  }

  &_small {
    @extend .sub_text;
    font-size: 14px;
  }
}
