.title {
  margin: 10px 0;
  padding: 0 10px;
  color: $dark-blue;
  font-size: 44px;
  // font-family: 'Quicksand', sans-serif;
  // font-family: 'Ubuntu', sans-serif;
  font-family: 'Nunito', sans-serif;

  // font-family: 'Roboto', sans-serif;
  font-weight: 900;
  // font-family: 'Yomolhari', serif;

  &_large {
    @extend .title;
  }

  &_small {
    @extend .title;
    font-size: 28px;
  }
}
